
body {
background-image: url(../img/feathers.jpg); 
background-blend-mode: lighten; 
}
div {
height: 100%;
background: rgba(255, 255, 255, 0.8); 
}

.title_nav {
   padding-top: 1.5em;  
   display: flex; 
   flex-direction: column; 
   margin-top: 2px; 
}

.title_nav,
.title_navi {
flex-direction: column; 
align-self: center; 

}

.title_nav a {
   display: flex;
   color: rgb(126, 85, 180); 
   font-size: 1.3em; 
   padding: .6em; 
   text-align: center;
   border-bottom: 1px solid rebeccapurple; 
}

.title_nav a:hover {
color:rgba(240, 116, 229, 0.8); 
border-bottom-color: rgba(255, 255, 255, 0.8); 
}

h1 {
color: rgb(126, 85, 180);
}

.story {

color: rgb(126, 85, 180); 
}

.training_tips {
color: rgb(126, 85, 180); 

}

.race_day_tips {
color: rgb(126, 85, 180); 

}

.race_reports_2016 {
color: rgb(126, 85, 180);
}

.race_reports_2017 {
color: rgb(126, 85, 180); 

}
/* .col .imga .imgb{
    width:19.5%;
    display:inline-block;
    vertical-align:top;
    padding: 3px; 
} */

section{
    display: flex; 
    flex-wrap: wrap; 
}
section h2 {
    width: 100%; 
    }

.my_story h2 {
width: 100%; 
}


.imga, .imgb {
width: 100%; 
}


section {
border: 2px solid black;
background-color: aquamarine; 
padding-top: .57em; 
}

section div {
border: 2px solid red;
background-color: lightblue;     
}



.navig {

    float: right; 
    right: 20px; 
    position: absolute;
    text-decoration: none; 
}

.navig > ul {
    display: flex;
    list-style: none; 
} 

.navig > ul li {
    float: right;  
    margin: 0 10px; 
}

/* @media (max-width:409px) {
    .img, .imga {width: 50%}
}

@media (min-width: 410px) {

 .img,  .imga { width: 50%;} 

} */
@media all(min-width: 409px) {
.imgb {
    max-width: 50%;
    border: magenta solid 3px;  
}

}