
body {
background-image: url(../img/feathers.jpg); 
background-blend-mode: lighten; 
padding: 20px; 
}
div {
background: rgba(255, 255, 255, 0.8);  
}

/* I wanted to make the headers for the different section purple because it matches the feather opacity background on the webpage */

h1 {
color: rgb(5, 14, 145);
}

.story {

color: rgb(126, 85, 180); 
margin-top: 70px; 
}

.training_tips {
color: rgb(126, 85, 180); 

}

.race_day_tips {
color: black;

}

.image {
 display: flex;
 max-width: 100%; 
 flex-wrap: wrap; 
 border: solid palevioletred;    
}
.race_reports_2016 {
color: black;
}

.race_reports_2017 {
color: black; 
}

section{
    display: flex; 
    flex-wrap: wrap; 
}

section {
border: 1px solid black;
padding-top: .25em; 
}

section div {
border: 1px solid red;   
}

.col image {
 display: inline-block;
 vertical-align: top; 
 padding: 3px; 

}


.navig {

    float: right; 
    position: fixed;
    text-decoration: none; 
    top: 0; 
    border: 1px solid paleturquoise;
    background-color: whitesmoke;  
    width: 100%; 

}
/* I am giving the navigation class I am targeting a width of 100% So that way it expands the fullness of the page and is not cut-off.
What you are left with is a nav bar that expands all the width of the screen that is fixed. The goal is to complement the smooth scroll function */
.navig > ul {
    display: flex;
    list-style: none; 
} 

.navig > ul li {
    float: right;  
    margin: 0 10px; 
}

@media only screen and (max-width: 600px) {
    .image {
        max-width: 100%;
     
    }

    .navig {
        flex-direction: column; 
    }

    .section {
        flex-direction: column; 
    }


}