div.main {

}

div.main::after {
    content: "";
background-color: white;
background-image: url(../img/feathers.jpg);
opacity: 0.4;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
}

h1 {
color: rgb(126, 85, 180);
}

.story {

color: rgb(126, 85, 180); 
}

.training_tips {
color: rgb(126, 85, 180); 

}

.race_day_tips {
color: rgb(126, 85, 180); 

}
